body{
background-image:url("background.jpg");
background-repeat:repeat;
}
#area{
  width:32%;
  margin-left:40%;
  margin-top:10%;
  
}
#input1{
        font-family: 'Anton', sans-serif;
        background-color:#0099D6;
        border:none;
        color:white;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        //margin-top:10;
        margin-left:3%;
        padding:5% 20%;
        font-size:200%;
        text-shadow: 1px 1px 10px black;
}

#Nickname{
  padding:5% 30% !important; 
  font-size:120% !important;
  margin-left:-17% !important;
  margin-top:10 !important;
  margin-bottom:10px !important;
  


}
#UserKey {
        padding:5% 30% !important; 
        font-size:120% !important;
        margin-left:-17% !important;
        margin-top:10 !important;
        margin-bottom:10px !important;
        


}
#label1{
        font-family: 'Anton', sans-serif;
        color:white;
        text-shadow:1px 1px 15px black;
        text-shadow:1px 1px 5px blue;
        margin-left:13%;
        font-size:200%;
}
#label2{
        font-family: 'Anton', sans-serif;
        color:white;
        text-shadow:1px 1px 15px black;
        text-shadow:1px 1px 5px blue;
        margin-left:27%;
        font-size:200%;
}
